.header
  .header__main
    .header__main__title
      = "Katze"
.main
  = form_with model: @post, local: true do |f|
    .wrapper
      .wrapper__image
        写真
        .wrapper__image__form
          
      .wrapper__name
        お名前
        = f.text_field :name, placeholder: "名前を入力", class: "wrapper__name__form"
      .wrapper__age
        年齢
        = f.text_field :age, placeholder: "年齢を入力", class: "wrapper__age__form"
      .wrapper__personality
        性格
        = f.text_area :personality, placeholder: "性格を入力", class: "wrapper__personality__form"
      .wrapper__condition
        体調(去勢、ワクチンの履歴など)
        = f.text_area :condition, placeholder: "体調を入力", class: "wrapper__condition__form"
      .wrapper__button
        %button{:type => "submit"} 投稿する
